@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --depth: 1000px;

  --lionPosY: 0px;
  --lionStepSize: 10px;
}

#root {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-image: radial-gradient(#333, #0a0a0a);
  overflow: hidden;
  perspective: var(--depth);
  perspective-origin: 50% 30%;
  border: 1px solid blue;
}

#root * {
  transform-style: preserve-3d;
}

#root #scene * {
  position: absolute;
}
#root #scene {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ground-floor {
  box-shadow: 1em -1em 5em #000 inset;
  background-image: radial-gradient(circle, transparent, #000 40em),
    repeating-conic-gradient(
      #686868 0 15deg,
      #707070 0 30deg,
      #808080 0 60deg,
      #909090 0 75deg,
      #a0a0a0 0 90deg
    );
  background-size: 100% 100%, 4em 4em;
  /* animation: floorMove 2s infinite linear; */
}

#lion,
#lion * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lion-animate-class {
  animation: animate-lion 0.6s ease-in-out;
  animation-fill-mode: both;
}

#lion {
  transform: translateY(var(--lionPosY)) translateZ(0px) rotateX(0deg);
}

@keyframes animate-lion {
  0% {
    transform: translateY(var(--lionPosY)) translateZ(0px) rotateX(0deg);
  }
  33% {
    transform: translateY(calc(var(--lionPosY) + (var(--lionStepSize) / 3)))
      translateZ(10px) rotateX(10deg);
  }
  66% {
    transform: translateY(
        calc(var(--lionPosY) + ((var(--lionStepSize) * 2) / 3))
      )
      translateZ(7px) rotateX(-10deg);
  }
  100% {
    transform: translateY(calc(var(--lionPosY) + var(--lionStepSize)))
      translateZ(0px) rotateX(0deg);
  }
}

.left-front-leg {
  animation: rot-left-leg-front 0.6s ease-in-out 0.075s;
}
.right-front-leg {
  animation: rot-right-leg-front 0.6s ease-in-out 0.075s;
}
.left-back-leg {
  animation: rot-left-leg-back 0.6s ease-in-out 0.075s;
}
.right-back-leg {
  animation: rot-right-leg-back 0.6s ease-in-out 0.075s;
}

@keyframes rot-left-leg-front {
  0%,
  100% {
    transform: translateZ(49px) rotateX(180deg) translateX(-34.75px)
      translateY(-51.75px) rotateX(0deg);
  }
  50% {
    transform: translateZ(49px) rotateX(180deg) translateX(-34.75px)
      translateY(-51.75px) rotateX(60deg);
  }
}
@keyframes rot-right-leg-front {
  0%,
  100% {
    transform: translateZ(49px) rotateX(180deg) translateX(33.75px)
      translateY(-51.75px) rotateX(0deg);
  }
  50% {
    transform: translateZ(49px) rotateX(180deg) translateX(33.75px)
      translateY(-51.75px) rotateX(60deg);
  }
}
@keyframes rot-left-leg-back {
  0%,
  100% {
    transform: translateZ(49px) rotateX(180deg) translateX(33.75px)
      translateY(53.75px) rotateX(0deg);
  }
  50% {
    transform: translateZ(49px) rotateX(180deg) translateX(33.75px)
      translateY(53.75px) rotateX(-30deg);
  }
}
@keyframes rot-right-leg-back {
  0%,
  100% {
    transform: translateZ(49px) rotateX(180deg) translateX(-34.75px)
      translateY(53.75px) rotateX(0deg);
  }
  50% {
    transform: translateZ(49px) rotateX(180deg) translateX(-34.75px)
      translateY(53.75px) rotateX(-30deg);
  }
}
