@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --depth: 2000px;

  --lionPosY: 0px;
  --lionPosX: 0px;
  --lionStepSize: 10px;

  --lionAngleZ: 0deg;

  --lionJumpTime: 0.6s;
}

#root {
  display: grid;
  place-items: center;
  min-height: 100vh;
  /* background-image: radial-gradient(#333, #0a0a0a); */
  background-color: #000;
  overflow: hidden;
  perspective: var(--depth);
  perspective-origin: 50% 30%;
}

#root * {
  transform-style: preserve-3d;
}

label {
  transform: translateZ(10px);
}

#root #scene * {
  position: absolute;
}
#root #scene {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ground-floor {
  box-shadow: 1em -1em 5em #000 inset;
  background-image: radial-gradient(circle, transparent, #000 2500px),
    repeating-conic-gradient(
      /* #686868 0 15deg, */ #909090 0 30deg,
      #808080 0 60deg,
      /* #707070 0 75deg, */ #a0a0a0 0 90deg
    );
  background-size: 100% 100%, 4em 4em;
  /* animation: floorMove 2s infinite linear; */
}

#lion,
#lion * {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lion-animate-class {
  animation: animate-lion var(--lionJumpTime) ease-in-out;
  animation-fill-mode: both;
}

#lion {
  transform: rotateZ(var(--lionAngleZ));
}

@keyframes animate-lion {
  0% {
    transform: rotateZ(var(--lionAngleZ)) translateZ(0px) rotateX(0deg);
  }
  33% {
    transform: rotateZ(var(--lionAngleZ)) translateZ(10px) rotateX(10deg);
  }
  66% {
    transform: rotateZ(var(--lionAngleZ)) translateZ(7px) rotateX(-10deg);
  }
  100% {
    transform: rotateZ(var(--lionAngleZ)) translateZ(0px) rotateX(0deg);
  }
}

#ground-floor {
  transform: translateY(calc(var(--lionPosY) * -1))
    translateX(calc(var(--lionPosX)));
}

.ground-animate-class {
  animation: animate-floor var(--lionJumpTime) ease-in-out infinite;
  animation-fill-mode: forwards;
}

@keyframes animate-floor {
  0% {
    transform: translate(var(--lionPosX), calc(var(--lionPosY) * -1));
  }
  100% {
    transform: translate(
      calc(
        var(--lionPosX) + calc(var(--lionStepSize) * sin(var(--lionAngleZ)))
      ),
      calc(
        (var(--lionPosY) + calc(var(--lionStepSize) * cos(var(--lionAngleZ)))) *
          -1
      )
    );
  }
}

.left-front-leg {
  animation: rot-left-leg-front var(--lionJumpTime) ease-in-out 0.075s;
}
.right-front-leg {
  animation: rot-right-leg-front var(--lionJumpTime) ease-in-out 0.075s;
}
.left-back-leg {
  animation: rot-left-leg-back var(--lionJumpTime) ease-in-out 0.075s;
}
.right-back-leg {
  animation: rot-right-leg-back var(--lionJumpTime) ease-in-out 0.075s;
}

@keyframes rot-left-leg-front {
  0%,
  100% {
    transform: translateZ(49px) rotateX(180deg) translateX(-34.75px)
      translateY(-51.75px) rotateX(0deg);
  }
  50% {
    transform: translateZ(49px) rotateX(180deg) translateX(-34.75px)
      translateY(-51.75px) rotateX(60deg);
  }
}
@keyframes rot-right-leg-front {
  0%,
  100% {
    transform: translateZ(49px) rotateX(180deg) translateX(33.75px)
      translateY(-51.75px) rotateX(0deg);
  }
  50% {
    transform: translateZ(49px) rotateX(180deg) translateX(33.75px)
      translateY(-51.75px) rotateX(60deg);
  }
}
@keyframes rot-left-leg-back {
  0%,
  100% {
    transform: translateZ(49px) rotateX(180deg) translateX(33.75px)
      translateY(53.75px) rotateX(0deg);
  }
  50% {
    transform: translateZ(49px) rotateX(180deg) translateX(33.75px)
      translateY(53.75px) rotateX(-30deg);
  }
}
@keyframes rot-right-leg-back {
  0%,
  100% {
    transform: translateZ(49px) rotateX(180deg) translateX(-34.75px)
      translateY(53.75px) rotateX(0deg);
  }
  50% {
    transform: translateZ(49px) rotateX(180deg) translateX(-34.75px)
      translateY(53.75px) rotateX(-30deg);
  }
}

@keyframes rotate-project-box {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes move-up-box {
  to {
    transform: rotateZ(360deg);
  }
}

.project-content * {
  position: relative !important;
}
