@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --depth: 1000px;
}

#root {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-image: radial-gradient(#333, #0a0a0a);
  overflow: hidden;
  perspective: var(--depth);
  perspective-origin: 50% 30%;
  border: 1px solid blue;
}

#root * {
  transform-style: preserve-3d;
}

#root #scene * {
  position: absolute;
}
#root #scene {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ground-floor {
  box-shadow: 1em -1em 5em #000 inset;
  background-image: radial-gradient(circle, transparent, #000 40em),
    repeating-conic-gradient(
      #686868 0 15deg,
      #707070 0 30deg,
      #808080 0 60deg,
      #909090 0 75deg,
      #a0a0a0 0 90deg
    );
  background-size: 100% 100%, 4em 4em;
}

#lion,
#lion * {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @keyframes animate-lion {
  0%,
  100% {
    transform: translate3d(27vmin, -4vmin, 0vmin);
  }
  33% {
    transform: translate3d(27vmin, -8vmin, 0vmin) rotateZ(10deg) rotateX(-5deg);
  }
  66% {
    transform: translate3d(27vmin, -7vmin, 0vmin) rotateZ(-10deg) rotateX(5deg);
  }
} */
